*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #1f1f1f;

}
.container {
  /*border: white solid 5px;*/
  height: 800px;
  width: 1300px;
  overflow: hidden;
}

.controls {
  padding: 0 10px;
  display: inline-block;
  /* border: dashed #cccccc 2px; */
}


.place {
  cursor: default;
  font: 67px sans-serif;
  color: rgb(215, 51, 130);
}

.click {
  cursor: default;
  font: 14px monospace;
  color: #fff;
  margin: -38px 0 0 0;
}


.shape {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
font-size: 60px;
border-radius: 50%;
height: 100px;
width: 100px;
cursor: default;
}

.emoji {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  cursor: default;
  background-color: clear;
}

/* ------------ switch ------------- */
.switch-label {
  font-family: monospace;
  color: #fff;
  padding-left: 39px;}

#circle-label {
  display: none;
}

.switchContainer {
  padding: 0px 15px 10px 15px;
  display: inline-block;
}

.switch {
  opacity: 0;
}

.switch > div {
  width: 80px;
  height: 40px;
  background: #68b9e4;
  z-index: 0;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  line-height: 40px;
  text-align: right;
  padding: 0 10px;
  color: rgba(0,0,0,.5);
  transition: all 250ms;
  box-shadow: inset 0 3px 15px -3px
}

.switch > input:checked + div {
  background: #d73382;
  text-align: left;
}

.switch > div:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: -2px;
  height: 44px;
  width: 44px;
  background: linear-gradient(#f9f9f9 30%,#CDCDCD);
  border-radius: 50%;
  transition: all 200ms;
  box-shadow: 0 15px 15px -3px rgba(0,0,0,.25), inset 0 -2px 2px -3px,  0 3px 0 0px #f9f9f9;
}

.switch > div:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 11px;
  top: 11px;
  height: 22px;
  width: 22px;
  background: linear-gradient(#DCDCDC,#E3E3E3);
  border-radius: 50%;
  transition: all 200ms;
}

.switch > input:checked + div:after {
  left: 52px;
}

.switch > input:checked + div:before {
  content: '';
  position: absolute;
  left: 40px;
  border-radius: 50%;
}

/* ---------- Clear Button ----------- */
/* @import 'https://fonts.googleapis.com/css?family=Rubik+One'; */

/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #e53935;
  background: linear-gradient(to left, #e53935 , #e35d5b);
} */

/* %test {
  position: absolute;
	content: '';
	transition: all .5s;
} */

.button {
	display: inline-block;
  padding: 8px 10px;
  margin: 10px 0 0 18px;
  color: white;
	vertical-align: middle;
	font-family: sans-serif;
  font-weight: bolder;
	text-decoration: none;
	font-size: 15px;
	background-color: rgb(205, 38, 38);

	/* &::before {
    @extend %test;
		bottom: -15px;
		height: 15px;
		width: 100%;
		left: 8px;
		transform: skewX(45deg);
		background-color: darken(#3498db, 20%);
	}

	&::after {
		@extend %test;
		right: -15px;
		height: 100%;
		width: 15px;
		bottom: -8px;
		transform: skewY(45deg);
		background-color: darken(#3498db, 30%);
	} */

	/* &:active {
		margin-left: 10px;
		margin-top: 10px;
		&::before {
			bottom: -5px;
			height: 5px;
			left: 3px;
		}

    &::after {
			right: -5px;
			width: 5px;
			bottom: -3px;
		}
	} */
}
