*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #1f1f1f;

}
.container {
  /*border: white solid 5px;*/
  height: 800px;
  width: 1300px;
  overflow: hidden;
}

.controls {
  padding: 0 10px;
  display: inline-block;
  /* border: dashed #cccccc 2px; */
}


.place {
  cursor: default;
  font: 67px sans-serif;
  color: rgb(215, 51, 130);
}

.click {
  cursor: default;
  font: 14px monospace;
  color: #fff;
  margin: -38px 0 0 0;
}


.shape {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
font-size: 60px;
border-radius: 50%;
height: 100px;
width: 100px;
cursor: default;
}

.emoji {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  cursor: default;
  background-color: clear;
}

/* ------------ switch ------------- */
.switch-label {
  font-family: monospace;
  color: #fff;
  text-align: center;
  padding-right: 27px;
}

#circle-label {
  display: none;
}

.switchContainer {
  padding: 0px 15px 10px 15px;
  display: inline-block;
}

.switch {
  opacity: 0;
}

.switch > div {
  width: 80px;
  height: 40px;
  background: #68b9e4;
  z-index: 0;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  line-height: 40px;
  text-align: right;
  padding: 0 10px;
  color: rgba(0,0,0,.5);
  transition: all 250ms;
  box-shadow: inset 0 3px 15px -3px
}

.switch > input:checked + div {
  background: #d73382;
  text-align: left;
}

.switch > div:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: -2px;
  height: 44px;
  width: 44px;
  background: linear-gradient(#f9f9f9 30%,#CDCDCD);
  border-radius: 50%;
  transition: all 200ms;
  box-shadow: 0 15px 15px -3px rgba(0,0,0,.25), inset 0 -2px 2px -3px,  0 3px 0 0px #f9f9f9;
}

.switch > div:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 11px;
  top: 11px;
  height: 22px;
  width: 22px;
  background: linear-gradient(#DCDCDC,#E3E3E3);
  border-radius: 50%;
  transition: all 200ms;
}

.switch > input:checked + div:after {
  left: 52px;
}

.switch > input:checked + div:before {
  content: '';
  position: absolute;
  left: 40px;
  border-radius: 50%;
}
