*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #1f1f1f;

}
.container {
  /*border: white solid 5px;*/
  height: 800px;
  width: 1300px;
  overflow: hidden;
}


.place {
  cursor: default;
  font: 40px sans-serif;
  color: rgb(215, 51, 130);
  top: 47px;
  left: 6px;
}

.click {
  cursor: default;
  font: 14px monospace;
  color: #fff;
  top: 70px;
  left: 10px;

}

.tog {
  position: absolute;
  text-align: center;
  display: inline-block;
}


.shape {
position: absolute;
text-align: center;
display: inline-block;
border-radius: 50%;
height: 100px;
width: 100px;

}


.one {
  background-color: rgb(218, 88, 88);
  z-index: 1;



}
.two {
  background-color: rgb(146, 108, 207);
  z-index: 2;


}
.three {
  background-color: rgb(233, 188, 71);
  z-index: 3;


}
.four {
  background-color: rgb(250, 247, 1);
  z-index: 4;


}
.five {
  background-color: rgb(167, 115, 252);
  z-index: 5;


}
.six {
  background-color: rgb(189, 210, 114);
  z-index: 6;


}
.seven {
  background-color: rgb(110, 175, 181);
  z-index: 7;


}
.eight {
  background-color: rgb(110, 210, 228);
  z-index: 8;


}
.nine {
  background-color: rgb(1, 122, 69);
  z-index: 9;


}
.ten {
  background-color: rgb(208, 79, 31);
  z-index: 10;


}
.eleven {
  background-color: rgb(41, 169, 186);
  z-index: 11;


}
.twelve {
  background-color: rgb(149, 28, 180);
  z-index: 11;


}
.thirteen {
  background-color: rgb(240, 161, 168);
  z-index: 11;


}
.fourteen {
  background-color: rgb(255, 232, 133);
  z-index: 11;
  

}

.off {
  display: none;
}
